.hero {
    display: flex;
    max-width: 1280px;
    margin: 5px auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 100vh;
    max-height:100%;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.title p {
    color: var(--color);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    transition: color 1s ease-in-out;
}

.title p span {
    color: #6941c6;
    
}

.title .heading1, .title .heading2 {
    color: var(--primary);
    line-height: .8;
    font-size: clamp(2.0625rem, 3.975vw + 1.078125rem, 6.25rem);
    font-weight: 900;
    width: max-content;
    transition: color 1s ease-in-out;
}


.subtitle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subtitle p {
    color: var(--color);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    transition: color 1s ease-in-out;
}

.btn {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 17px 25px;
    font-weight: 500;
    font-size: 18px;
    width:max-content;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: background-color 0.5s ease-in-out;
}

.btn:hover {
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    transition: background-color 0.5s ease-in-out;
}

.social {
    display: flex;
    gap: 10px;
}
.social a {
    font-size: 25px;
    /* color: var(--primary); */
    /* transition: color 1s ease-in-out; */
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social i {
    color: var(--primary);
}

.social a:hover {
    border: 2px solid var(--primary);
    /* color: red; */
}


.right {
    position: relative;
}

.image {
    /* background-color: var(--primary); */
    max-width: clamp(300px, 33vw, 450px);
    max-height: clamp(300px, 33vw, 450px);
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* border: 1px solid var(--primary); */
    /* transition: background-color 1s ease-in-out; */
    animation: bounce 1s alternate infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }
    /* 50% {
        transform: translateY(0);
    } */
    100% {
        transform: translateY(10px);
    }
    
}

.image .banner {
    width: 80%;
    height: 100%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
    object-fit: contain;
    -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.icon {
    position: absolute;
    animation: rotate 2s alternate infinite;
}

@keyframes rotate {
    0% {
        transform: scale(1);
    }
    /* 50% {
        transform: scale(0);
    } */
    100% {
        transform: scale(1.2);
    }
}

.icon img {
    width: 40px;
    /* border-radius: 50%; */
}


.js {
    right: 50px;
    top: 30px;
    filter: drop-shadow(0 0 5px yellow);
}

.css {
    right: 40px;
    bottom: 35px;
    filter: drop-shadow(0 0 5px rgb(39, 153, 252));
}

.html {
    left: 20px;
    bottom: 50px;
    filter: drop-shadow(0 0 5px rgb(255, 72, 26));
}

.react {
    top: 90px;
    left: 0px;
    filter: drop-shadow(0 0 5px rgb(39, 153, 252));
}

.node {
    right: -20px;
    top: 160px;
    filter: drop-shadow(0 0 5px green);
}

.scroll__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translate(-50%, -0%);
    color: var(--primary);
}

.scroll__down p {
    letter-spacing: 5px;
    font-size: 15px;
    /* writing-mode: vertical-lr; */
    /* text-orientation:sideways; */
}

.scroll__down i {
    font-size: 18px;
    animation: bounce 2s infinite ;
}



@media only screen and (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        height: 100%;
        max-height: none;
    }

    .left {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .title  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitle {
        align-items: center;
    }
    

    .js {
        right: 30px;
        top: 25px;
        filter: drop-shadow(0 0 5px yellow);
    }
    
    .css {
        right: 45px;
        bottom: 0px;
        filter: drop-shadow(0 0 5px rgb(39, 153, 252));
    }
    
    .html {
        left: 20px;
        bottom: 20px;
        filter: drop-shadow(0 0 5px rgb(255, 72, 26));
    }
    
    .react {
        top: 50px;
        left: 0px;
        filter: drop-shadow(0 0 5px rgb(39, 153, 252));
    }
    
    .node {
        right: -20px;
        top: 160px;
        filter: drop-shadow(0 0 5px green);
    }

    .scroll__down {
        /* right: 0; */
        left: 90%;
        transform: none;
        bottom: 10px;
    }

    .scroll__down p {
        writing-mode: vertical-lr;
        font-size: 13px;
    }

    .scroll__down i {
        font-size: 13px;
    }
}

@media screen and (max-width: 445px){
    .title p {
        font-size: 18px;
        width: max-content;
    }
}

